---
import Base from "@layouts/base.astro";

const title = "about";
---

<Base>
    <h1 class="text-3xl font-bold my-9">{title}</h1>
    <h2 class="text-lg my-9">
        about me
    </h2>

    <!-- <a href="https://github.com/0xhenriksson/t1dbench">github</a> -->
    <p class="font-light">
        blah blah
    </p>
</Base>
