---
import Base from "@layouts/base.astro";

const title = "evals";
---

<Base>
    <h1 class="text-3xl font-bold my-9">{title}</h1>
    <h2 class="text-2xl my-9">
        evaluation of LLMs on a type 1 diabetes care benchmark
    </h2>

    <!-- <a href="https://github.com/0xhenriksson/t1dbench">github</a> -->
    <p class="font-italic">
        Note: t1dbench is still under development. The official release will come at
        a later date and will a benchmark suite for evaluating language models on their ability to
        assist people living with diabetes. </br>
        I am seeking qualified medical professionals (i.e. endocrynologists) and ai researchers who are
        interested in contributing to the evaluation benchmark. Please reach out to me at
        <a href="mailto:henrik@0xhenriksson.com">henrik@0xhenriksson.com</a> if you are interested in
        contributing to the project.
    </p>
</Base>
