---
import Base from "@layouts/base.astro";

const title = "mission";
---

<Base title={title}>
    <h1 class="text-3xl font-bold my-9">{title}</h1>
    <p>
        This is a research project centered around the intersection of Type 1
        Diabetes and Artificial Intelligence. The lab aims to push the envelope
        of diabetes research, open-sourcing as much as possible, and providing
        technological advancements that improve the quality of life and ease of
        diabetes treatment for patients across the world. There is a desperate
        need to accelerate advancement on multiple fronts in diabetes
        care, but the ideas and technology are hidden behind private industry
        barriers and constrained by academic institutions. 
        <br />
        This lab aims to change that. People living with diabetes deserve to have everything
        accessible to them, and when their care is effectively controlled by a
        small selection of medical organizations, they suffer.
    </p>
</Base>
