---
import Base from "@layouts/base.astro";

const title = "projects";
---

<Base title={title}>
    <h1 class="text-3xl font-bold my-9">{title}</h1>
    <ul>
        <li>
            <a href="/projects/t1dbench">t1dbench</a>
            <p></p>
        </li>
    </ul>
</Base>
