<div class="moose-container">
    <pre></pre>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡰⢁⠀⢀⠤⠒⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡹⡘⢀⢧⠃⢀⣀⣰⠢⠀⠀⠀⠀⣀⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ ⠀⠀⠀⠀⠠⣴⠤⡤⣀⠐⢧⣃⠸⡸⣜⢵⡑⠁⠀⠀⡠⡲⠙⠀⠀⠀⠀⢀⠀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⡈⣷⢱⢕⡖⣍⢫⡒⢧⡣⢛⢜⡀⡀⡀⡜⡜⠀⠀⠀⠀⣀⢜⢕⠎⠊⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ ⠀⠀⠀⠀⠗⡕⠕⣗⢝⢮⡲⡵⣕⢕⡷⢒⠑⢵⠑⠱⠭⢕⡪⡪⣍⢆⣇⡁⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠐⢐⠀⢏⠧⣫⡺⣪⢻⡺⢕⢷⣻⢢⢤⠀⠀⠀⠀⠀⠘⢜⠬⢄⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ ⠀⠀⠀⠀⠀⠀⠀⠑⡄⠈⠀⡳⡳⡕⡇⡇⢇⡓⡲⡱⡓⡦⢤⠢⢤⢠⣀⠉⠒⠕⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠈⠉⢦⢳⢽⣪⢇⠇⡇⡎⢎⢪⢸⢪⢣⢹⢨⡲⡪⢭⢱⠲⡲⡲⢲⠲⡲⡲⢲⠲⡲⡠⢄⡀⠀⠀⠀⠀⠀⠀⠀⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢎⢮⡳⣗⡕⡕⡜⢜⠜⣜⢜⢜⢬⢺⢜⢕⠕⡅⡇⢇⢎⢎⢾⣪⢪⢊⢎⢪⠪⡒⡌⠂⠤⡀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠣⢎⡎⡮⡳⡵⣕⡕⣕⣗⢇⡳⡹⡕⡅⡇⡣⡪⡪⢢⠣⡪⡚⣯⢺⢸⢨⠪⡪⡸⡀⢄⠈⠆⠀⠀⠀⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠋⣮⡪⡺⡮⣎⢳⣑⢕⡭⣫⢎⢎⢪⢊⢆⢇⢣⠣⡣⢪⢪⡫⣎⢎⢪⢪⠸⡀⢐⡍⠃⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣝⢧⣣⢳⢣⡳⣝⢮⢳⣻⢜⢌⢎⢆⢇⢕⢕⢕⣕⢗⢝⣜⢮⡪⡢⡣⠭⢐⡅⠀⠀⠀⠀⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢵⢕⢇⡏⢯⢺⢜⡵⣯⢫⡣⡧⡳⣪⡺⡪⡣⡣⡣⡳⡕⣗⢽⡸⣜⢼⢰⠁⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡎⡧⡥⡹⡕⡽⣱⣣⠗⠧⠯⠮⠯⠮⠮⠚⢞⢮⠾⠮⣞⡪⡇⡯⣎⢗⡭⣃⠀⠀⠀⠀⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⢺⢼⠵⠝⠚⡗⣝⢎⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠣⡪⠨⠂⢝⠘⠮⣪⢱⢝⡜⣆⡀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡷⣹⡁⠀⠀⢠⢫⢎⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⠬⣊⢈⢂⠦⡀⠉⠒⡕⡗⣗⣇⠀⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⠣⣗⡄⠀⡮⣳⡑⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢳⢱⠯⠃⠀⠀⠈⢞⢜⢮⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⠪⣷⢝⡼⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⡪⡏⠀⠀⠀⠀⠀⠀⢫⣺⠀⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡸⡵⡿⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡼⣱⠏⠀⠀⠀⠀⠀⠀⠀⢸⢸⡂⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⢳⠅⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⣪⡁⠀⠀⠀⠀⠀⠀⠀⢰⢱⣣⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⡪⣺⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢺⡏⠀⠀⠀⠀⠀⠀⡠⣣⠏⠃⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣶⣵⠋⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⠿⠏⠀⠀⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠁⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    <!-- <div id="snowfall"></div>

    <script type="module" client:load>
        const snowfallContainer = document.getElementById("snowfall");
        const brailleDots = ["⠂", "⠄", "⠈", "⠐", "⠠", "⡀", "⢀"];

        function createSnowflake() {
            const snowflake = document.createElement("div");
            snowflake.classList.add("snowflake");
            snowflake.textContent =
                brailleDots[Math.floor(Math.random() * brailleDots.length)];
            snowflake.style.left = `${Math.random() * 100}%`;
            snowflake.style.animationDuration = `${Math.random() * 3 + 2}s`; // Between 2 and 5 seconds
            snowfallContainer.appendChild(snowflake);

            // Remove snowflake after it falls
            setTimeout(() => {
                snowflake.remove();
            }, 5000);
        }

        setInterval(createSnowflake, 300); // Create a new snowflake every 300ms
    </script> -->
</div>
