---

---

<div
    class="prose-h1:font-['IBM Plex Mono'] prose-h1:font-bold prose-h1:text-5xl prose-h1:mt-24 prose-h1:mb-12
    prose-h2:font-['IBM Plex Mono'] prose-h2:font-bold prose-h2:text-3xl
    prose-h3:font-bold prose-h3:text-2xl prose-h3:mt-12
    prose-ul:font-['IBM Plex Mono'] prose-ul:list-disc prose-ul:ml-6
    prose-p:mt-6 prose-p:font-['IBM Plex Mono']
    prose-blockquote:font-['IBM Plex Mono'] prose-blockquote:italic
    prose-a:underline"
>
    <slot />
</div>
